.prosept-pr {
  border: 1px solid blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 35%;
}

.prosept-pr__title {
  margin: 0;
  padding: 0;
  text-align: center;
}
