.position {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.position__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  border: 2px #38A43A solid;
  border-radius: 15px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 20px;
  transition: 0.3s;
}

.position__item_active {
  background: rgba(56, 164, 58, 0.15);
}

.position__dealer {
  margin: 0;
  font-weight: bold;
  color: #38A43A;
}

.position__name {
  margin: 0;
  padding: 10px 0;
}

.position__container {
  display: flex;
  justify-content: space-between;
  border-top: 2px #38A43A solid;
  padding-top: 10px;
}

.position__article {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
}

.position__article:hover {
  color: #38A43A;
}

.position__price {
  margin: 0;
}

.position__link {
  text-decoration: none;
  color: #38A43A;
  transition: 0.2s;
}

.position__link:hover {
  color: #000;
}

.position__button-main {
  background: none;
  border: 2px #38A43A solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  align-self: center;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.position__button-main_active {
  background: #38A43A;
}

.position__button-main:hover {
  background: #38A43A;
}

.position__button-main:hover .position__icon-main {
  fill: #fff;
  rotate: 180deg;
}

.position__icon-main {
  width: 35px;
  height: 35px;
  transition: 0.3s;
}

.position__icon-main_active {
  fill: #fff;
  rotate: 180deg;
}

.position__button-edit {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px #38A43A solid;
  position: absolute;
  top: -26px;
  left: -15px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}

.position__button-edit:hover {
  background: #38A43A;
}

.position__button-edit_active {
  visibility: visible;
  opacity: 1;
  top: -35px;
  left: -20px;
}

.position__button-edit:hover .position__icon-edit {
  color: white;
}

.position__icon-edit {
  width: 15px;
  height: 15px;
  transition: 0.3s;
}

.position__button-delete {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px #38A43A solid;
  position: absolute;
  top: -26px;
  right: -15px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}

.position__button-delete:hover {
  background: #38A43A;
}

.position__button-delete_active {
  visibility: visible;
  opacity: 1;
  top: -35px;
  right: -20px;
}

.position__button-delete:hover .position__icon-delete {
  color: white;
}

.position__icon-delete {
  width: 15px;
  height: 15px;
  transition: 0.3s;
}