.popup {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  background: #fff;
  border: 2px #38A43A solid;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  gap: 40px;
  max-height: 90vh;
  position: relative;
}

.popup__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
}

.popup__column:first-child {
  justify-content: center;
  align-items: center;
}

.popup__title {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.popup__button {
  background: none;
  border: 2px #38A43A solid;
  border-radius: 25px;
  padding: 10px 15px;
  transition: 0.2s;
  cursor: pointer;
}

.popup__button:disabled {
  background: rgba(56, 164, 58, 0.15);
  color: rgba(77, 77, 77, 0.67);
  cursor: default;
}

.popup__button:disabled:hover {
  background: rgba(56, 164, 58, 0.15);
  color: rgba(77, 77, 77, 0.67);
}

.popup__button:hover {
  background: #38A43A;
  color: #fff;
}

.popup__close-button {
  position: absolute;
  left: 10px;
  top: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.popup__close-button:hover .popup__icon g g{
  fill: #38A43A;
}

.popup__icon {
  width: 45px;
  height: 45px;
}

.popup__icon g g {
  transition: 0.2s;
}