.sliding-menu {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid rgb(192, 192, 192);
  font-family: 'Din Pro', 'Arial', sans-serif;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s;
  overflow: hidden;
  max-width: 100%;
}

.sliding-menu:focus {
  border: 1px solid #38a43a;
  outline: none;
}

.sliding-menu:hover {
  border: 1px solid #38a43a;
  outline: none;
}

.button {
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10px;
  border: #38a43a solid 2px;
  background-color: transparent;
  color: #000;
  transition: background-color 0.2s;
  line-height: 20px;
  padding: 0px 4px 0px 4px;
}

.button:active {
  color: #fff;
  box-shadow: 0 0 10px #38a43a;
}

.button:hover {
  color: #fff;
  background-color: #38a43a;
}

.button_color_red {
  border: rgba(131, 4, 4) solid 2px;
}

.button_color_red:hover {
  background-color: rgba(131, 4, 4);
}

.button_color_red:active {
  box-shadow: 0 0 10px rgba(131, 4, 4);
}

.button_color_gray {
  border: rgb(0, 0, 0) solid 2px;
}

.button_color_gray:active {
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.button_color_gray:hover {
  background-color: rgb(192, 192, 192);
}

.button_disabled {
  border: rgb(192, 192, 192) solid 2px;
  color: rgb(192, 192, 192);
  cursor: auto;
}

.button_disabled:hover {
  border: rgb(192, 192, 192) solid 2px;
  background-color: transparent;
  color: rgb(192, 192, 192);
  cursor: auto;
  box-shadow: none;
}

.status-icon {
  display: inline-block;
  width: 16px;
  min-width: 16px;
  height: 16px;
  min-height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.status-icon_type_no-matches {
  background-image: url('../../images/main/Red_X.svg');
  width: 16px;
  height: 16px;
}

.status-icon_type_connect {
  background-image: url('../../images/main/connect.svg');
}

.button:hover .status-icon_type_connect {
  background-image: url('../../images/main/connect_white.svg');
}

.status-icon_type_disconnect {
  background-image: url('../../images/main/disconnect-svgrepo-com.svg');
}

.status-icon_type_on-hold {
  background-image: url('../../images/main/time.svg');
}
