.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  column-gap: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(192, 192, 192);
  row-gap: 1px;
}

.product_type_active:hover {
  border: 2px solid #888888;
}

.product_type_selected {
  border: 2px solid rgba(0, 183, 234, 1);
  box-shadow: 0 0 5px rgba(0, 183, 234, 1);
}

.product__header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.product__company {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: rgba(0, 183, 234, 1);
  font-size: 14px;
  text-align: left;
}

.product__company_type_prosept {
  color: #38a43a;
}

.product__button {
  font-size: 14px;
}

.product__name {
  width: 100%;
  margin: 6px 0 0 0;
  padding: 0 0 3px 0;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid #888888;
}

.product__name_type_selected {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product__article-wrapper {
  margin: 6px 0 0 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.product__article {
  margin: 0;
  text-align: left;
  font-size: 14px;
}

.product__article-link {
  display: inline-block;
  font-size: 14px;
  color: rgb(13, 86, 134);
  text-decoration: none;
}

.product__article-item {
  color: rgb(13, 86, 134);
}

.product__article-link::after {
  content: '';
  background-image: url('../../../images/main/Link.svg');
  padding: 0 10px 0 10px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
}

.product__article-link:hover {
  text-decoration: underline;
}

.product__article-link_disable {
  pointer-events: none;
  color: #888888;
  text-decoration: line-through;
  cursor: default;
}

.product__article-link_disable:hover {
  text-decoration: line-through;
}

.product__article-link_disable::after {
  content: '';
  background-image: none;
}

.product__cost {
  text-align: end;
  margin: 0;
  font-size: 13px;
}

.product__cost-money {
  color: green;
}
